@use "../helpers" as *;

.contact-hero {
  width: 100%;
  padding-top: fluid(150, 50);
  padding-bottom: fluid(100, 50);
  background-color: var(--color-dark);
  overflow: hidden;

  &__container {
    width: 100%;
    margin-bottom: fluid(100, 50);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: fluid(14, 10);
    max-width: rem(1140);
  }

  &__title {
    margin: 0;
    color: var(--color-light);
    font-weight: 600;
    line-height: 1.2;

    @include fluid-text(48, 28);
  }

  &__text {
    margin: 0;
    color: var(--color-gray-60);
    font-weight: 500;
    line-height: 1.5;

    @include fluid-text(18, 14);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: fluid(20, 10);
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin: 0 auto;
    padding: fluid(20, 10);
    list-style: none;
    border: rem(1) solid var(--color-dark-15);
    background-color: var(--color-dark);
    box-shadow:
      0 rem(-10) 0 #191919,
      0 rem(9) 0 #191919;
  }

  &__item {
    display: flex;
    min-width: 0;
  }

  @include laptop {
    padding-top: rem(100);
    padding-bottom: rem(60);

    &__list {
      padding-inline: fluid(30, 16);
      gap: rem(16);
    }
  }

  @include tablet {
    &__list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @include mobile {
    padding-top: rem(50);
    padding-bottom: rem(50);

    &__list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: rem(10);
      padding: rem(10);
      border-radius: rem(12);
    }
  }
}
