.contact-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: clamp(
    0.875rem,
    0.7794117647rem + 0.3921568627vw,
    1.25rem
  );
  width: 100%;
  height: 100%;
  min-height: clamp(
    9rem,
    7.9166666667rem + 4.4444444444vw,
    13.25rem
  );
  padding: clamp(
    1.25rem,
    0.931372549rem + 1.3071895425vw,
    2.5rem
  );
  border: 0.0625rem solid var(--color-dark-15);
  border-radius: 0.75rem;
  color: var(--color-light);
  background-color: var(--color-dark-10);
  text-align: center;
  text-decoration: none;
}
@media (width <= 90.06125rem) {
  .contact-card {
    padding: 1.875rem;
    row-gap: 1rem;
  }
}
.contact-card__arrow {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: clamp(
    1.625rem,
    1.4975490196rem + 0.522875817vw,
    2.125rem
  );
  height: clamp(
    1.625rem,
    1.4975490196rem + 0.522875817vw,
    2.125rem
  );
  color: var(--color-gray-60);
  fill: none;
  transition: color var(--transition-duration, 0.2s) ease, translate var(--transition-duration, 0.2s) ease;
}
.contact-card__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(
    3.75rem,
    3.3995098039rem + 1.4379084967vw,
    5.125rem
  );
  height: clamp(
    3.75rem,
    3.3995098039rem + 1.4379084967vw,
    5.125rem
  );
  flex: 0 0 auto;
}
.contact-card__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-card__title {
  max-width: 18.75rem;
  font-size: clamp(
    0.875rem,
    0.7794117647rem + 0.3921568627vw,
    1.25rem
  );
  font-weight: 600;
  line-height: 1.5;
  text-wrap: balance;
}
@media (width <= 90.06125rem) {
  .contact-card__title {
    font-size: clamp(
    1rem,
    1rem + 0vw,
    1rem
  );
  }
}
.contact-card--socials {
  justify-content: center;
}
.contact-card__socials-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.contact-card__socials-list {
  max-width: 25.9375rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(
    0.625rem,
    0.306372549rem + 1.3071895425vw,
    1.875rem
  );
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
@media (width <= 90.06125rem) {
  .contact-card__socials-list {
    gap: 1.25rem;
  }
}
.contact-card__social-link {
  font-weight: 600;
  font-size: clamp(
    0.875rem,
    0.7794117647rem + 0.3921568627vw,
    1.25rem
  );
  line-height: 1.5;
  color: var(--color-light);
  transition: color var(--transition-duration, 0.2s) ease;
  text-decoration: underline !important;
}
@media (any-hover: hover) {
  .contact-card__social-link:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .contact-card__social-link:active {
    color: var(--color-accent);
  }
}
@media (width <= 90.06125rem) {
  .contact-card__social-link {
    font-size: clamp(
    1rem,
    1rem + 0vw,
    1rem
  );
  }
}
@media (any-hover: hover) {
  .contact-card:hover {
    color: var(--color-light);
    border-color: var(--color-accent);
  }
  .contact-card:hover .contact-card__arrow {
    color: var(--color-light);
    translate: 0.1875rem -0.1875rem;
  }
  .contact-card:hover .contact-card__icon-wrapper {
    scale: 1.05;
  }
}
@media (any-hover: none) {
  .contact-card:active {
    color: var(--color-light);
    border-color: var(--color-accent);
  }
  .contact-card:active .contact-card__arrow {
    color: var(--color-light);
    translate: 0.1875rem -0.1875rem;
  }
  .contact-card:active .contact-card__icon-wrapper {
    scale: 1.05;
  }
}
@media (width <= 47.99875rem) {
  .contact-card {
    justify-content: center;
    align-items: center;
  }
  .contact-card__title {
    max-width: 8.75rem;
  }
  .contact-card__socials-list {
    justify-content: center;
  }
}