.contacts-form {
  width: 100%;
  background-color: var(--color-dark);
  padding-top: clamp(
    2.5rem,
    2.3406862745rem + 0.6535947712vw,
    3.125rem
  );
  padding-bottom: clamp(
    3.125rem,
    2.3284313725rem + 3.2679738562vw,
    6.25rem
  );
}
.contacts-form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contacts-form__decoration {
  position: absolute;
  top: -2.5rem;
  left: -1.25rem;
  width: 4.25rem;
  pointer-events: none;
}
.contacts-form__decoration img {
  display: block;
  width: 100%;
  height: auto;
}
@media (width <= 100rem) {
  .contacts-form__decoration {
    position: static;
    width: clamp(
    2.875rem,
    2.5245098039rem + 1.4379084967vw,
    4.25rem
  );
    margin-bottom: clamp(
    0.625rem,
    0.5294117647rem + 0.3921568627vw,
    1rem
  );
  }
}
.contacts-form__header {
  display: flex;
  flex-direction: column;
  gap: clamp(
    0.5rem,
    0.4044117647rem + 0.3921568627vw,
    0.875rem
  );
  max-width: 71.25rem;
  margin-bottom: clamp(
    2.5rem,
    1.862745098rem + 2.614379085vw,
    5rem
  );
}
.contacts-form__title {
  font-size: clamp(
    1.75rem,
    1.431372549rem + 1.3071895425vw,
    3rem
  );
  font-weight: 600;
  margin: 0;
}
.contacts-form__text {
  font-size: clamp(
    0.875rem,
    0.8112745098rem + 0.2614379085vw,
    1.125rem
  );
  font-weight: 500;
  margin: 0;
  line-height: 1.5;
  color: var(--color-gray-60);
}
.contacts-form__body {
  width: 100%;
  background-color: var(--color-dark);
  border: 0.0625rem solid var(--color-dark-15);
  border-radius: 0.75rem;
  padding: clamp(
    1.25rem,
    0.7720588235rem + 1.9607843137vw,
    3.125rem
  );
}