.pricing {
  width: 100%;
  background-color: var(--color-dark);
  padding-top: clamp(
    3.125rem,
    2.3284313725rem + 3.2679738562vw,
    6.25rem
  );
  padding-bottom: clamp(
    3.125rem,
    2.3284313725rem + 3.2679738562vw,
    6.25rem
  );
  box-sizing: border-box;
}
.pricing__container {
  position: relative;
  width: 100%;
}
.pricing__decoration {
  position: absolute;
  top: -2.5rem;
  left: -1.25rem;
  width: 4.3125rem;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 119.9375rem) {
  .pricing__decoration {
    position: static;
    margin-bottom: clamp(
    0.625rem,
    0.5294117647rem + 0.3921568627vw,
    1rem
  );
    width: clamp(
    2.875rem,
    2.5085784314rem + 1.5032679739vw,
    4.3125rem
  );
  }
}
.pricing__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(
    2.5rem,
    1.862745098rem + 2.614379085vw,
    5rem
  );
}
.pricing__title {
  margin: 0;
  margin-bottom: 0.875rem;
  color: var(--color-light);
  font-weight: 600;
  font-size: clamp(
    1.75rem,
    1.431372549rem + 1.3071895425vw,
    3rem
  );
}
.pricing__subtitle {
  max-width: 75rem;
  margin: 0;
  color: var(--color-gray-60);
  font-weight: 500;
  line-height: 1.5;
  font-size: clamp(
    0.875rem,
    0.8112745098rem + 0.2614379085vw,
    1.125rem
  );
}
.pricing__note {
  display: flex;
  align-items: center;
  gap: clamp(
    0.625rem,
    0.4656862745rem + 0.6535947712vw,
    1.25rem
  );
  width: 100%;
  padding: clamp(
    1.5rem,
    1.4044117647rem + 0.3921568627vw,
    1.875rem
  ) clamp(
    1.25rem,
    0.7720588235rem + 1.9607843137vw,
    3.125rem
  );
  border: 0.0625rem solid var(--color-dark-15);
  border-radius: clamp(
    0.5rem,
    0.4362745098rem + 0.2614379085vw,
    0.75rem
  );
  background-color: var(--color-dark-10);
  margin-bottom: clamp(
    1.875rem,
    1.556372549rem + 1.3071895425vw,
    3.125rem
  );
  box-sizing: border-box;
}
@media (width <= 47.99875rem) {
  .pricing__note {
    flex-direction: column;
    align-items: flex-start;
  }
}
.pricing__note-label {
  display: inline-flex;
  color: var(--color-light);
  font-weight: 600;
  line-height: 1.5;
  font-size: clamp(
    1.125rem,
    1.0294117647rem + 0.3921568627vw,
    1.5rem
  );
}
.pricing__note-text {
  margin: 0;
  color: var(--color-gray-60);
  font-weight: 500;
  line-height: 1.5;
  padding-left: clamp(
    0rem,
    -0.318627451rem + 1.3071895425vw,
    1.25rem
  );
  border-left: 0.0625rem solid var(--color-dark-15);
  font-size: clamp(
    0.875rem,
    0.8112745098rem + 0.2614379085vw,
    1.125rem
  );
}
@media (width <= 47.99875rem) {
  .pricing__note-text {
    width: 100%;
    padding-left: 0;
    border-left: none;
    border-top: 0.0625rem solid var(--color-dark-15);
    padding-top: 0.625rem;
  }
}
.pricing__grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: clamp(
    1.25rem,
    0.7720588235rem + 1.9607843137vw,
    3.125rem
  );
}
@media (width <= 63.99875rem) {
  .pricing__grid {
    flex-direction: column;
  }
}
.pricing__left-aside {
  max-width: 13.75rem;
  width: 100%;
}
.pricing__info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pricing__info-label {
  margin-bottom: 0.125rem;
  color: var(--color-gray-60);
  font-weight: 500;
  line-height: 1.5;
  font-size: clamp(
    0.875rem,
    0.7794117647rem + 0.3921568627vw,
    1.25rem
  );
}
.pricing__info-value {
  margin: 0;
  color: var(--color-light);
  font-weight: 600;
  line-height: 1.5;
  font-size: clamp(
    1.75rem,
    1.5588235294rem + 0.7843137255vw,
    2.5rem
  );
}
.pricing__blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(
    1.25rem,
    0.7720588235rem + 1.9607843137vw,
    3.125rem
  );
}