@use '../helpers' as *;

.pricing {
  width: 100%;
  background-color: var(--color-dark);
  padding-top: fluid(100, 50);
  padding-bottom: fluid(100, 50);
  box-sizing: border-box;

  &__container {
    position: relative;
    width: 100%;
  }

  &__decoration {
    position: absolute;
    top: rem(-40);
    left: rem(-20);
    width: rem(69);
    height: auto;
    pointer-events: none;
    user-select: none;

    @media (width <= rem(1919)) {
      position: static;
      margin-bottom: fluid(16, 10);
      width: fluid(69, 46);
    }
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: fluid(80, 40);
  }

  &__title {
    margin: 0;
    margin-bottom: fluid(14, 8);
    color: var(--color-light);
    font-weight: 600;
    line-height: 1.5;

    @include fluid-text(48, 28);
  }

  &__subtitle {
    max-width: rem(1296);
    margin: 0;
    color: var(--color-gray-60);
    font-weight: 500;
    line-height: 1.5;

    @include fluid-text(18, 14);
  }

  &__note {
    width: 100%;
    display: flex;
    align-items: center;
    gap: fluid(20, 10);
    padding: fluid(30, 24) fluid(50, 20);
    border: rem(1) solid var(--color-dark-15);
    border-radius: fluid(12, 8);
    background-color: var(--color-dark-10);
    margin-bottom: fluid(50, 30);
    box-sizing: border-box;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    &-label {
      display: inline-flex;
      color: var(--color-light);
      font-weight: 600;
      line-height: 1.5;

      @include fluid-text(24, 18);
    }

    &-text {
      margin: 0;
      color: var(--color-gray-60);
      font-weight: 500;
      line-height: 1.5;
      padding-left: fluid(20, 0);
      border-left: rem(1) solid var(--color-dark-15);

      @include fluid-text(18, 14);

      @include mobile {
        width: 100%;
        padding-left: 0;
        border-left: none;
        border-top: rem(1) solid var(--color-dark-15);
        padding-top: rem(10);
      }
    }
  }

  &__grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start; 
    gap: fluid(50, 20);

    @include tablet {
      flex-direction: column;
    }
  }

  &__left-aside {
    max-width: rem(220);
    width: 100%;
  }

  &__info-box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__info-label {
    margin-bottom: rem(2);
    color: var(--color-gray-60);
    font-weight: 500;
    line-height: 1.5;

    @include fluid-text(20, 14);
  }

  &__info-value {
    margin: 0;
    color: var(--color-light);
    font-weight: 600;
    line-height: 1.5;

    @include fluid-text(40, 24);
  }

  &__blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: fluid(50, 20);
  }
}