.main .features {
  position: relative;
  z-index: 2;
  border-top: 0.0625rem solid var(--color-dark-15);
  border-bottom: 0.0625rem solid var(--color-dark-15);
  background-color: var(--color-dark);
  box-shadow: 0 -0.625rem 0 #191919, 0 0.5625rem 0 #191919;
  border-left: none !important;
  border-right: none !important;
}