.services-hero {
  width: 100%;
  background-color: var(--color-dark);
  background: linear-gradient(95.93deg, #262626 -24.88%, rgba(38, 38, 38, 0) 41.38%);
  border-bottom: 1px solid var(--color-dark-15) !important;
  padding-top: clamp(
    3.125rem,
    1.5318627451rem + 6.5359477124vw,
    9.375rem
  );
  padding-bottom: clamp(
    1.875rem,
    1.7156862745rem + 0.6535947712vw,
    2.5rem
  );
  box-sizing: border-box;
}
.services-hero__header {
  display: flex;
  flex-direction: column;
  max-width: 84.875rem;
  width: 100%;
  margin-bottom: clamp(
    1.25rem,
    0.612745098rem + 2.614379085vw,
    3.75rem
  );
}
.services-hero__title {
  margin: 0;
  color: var(--color-light);
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: clamp(
    0.625rem,
    0.5612745098rem + 0.2614379085vw,
    0.875rem
  );
  font-size: clamp(
    1.75rem,
    1.431372549rem + 1.3071895425vw,
    3rem
  );
}
.services-hero__text {
  margin: 0;
  color: var(--color-gray-60);
  font-weight: 500;
  line-height: 1.5;
  font-size: clamp(
    0.875rem,
    0.8112745098rem + 0.2614379085vw,
    1.125rem
  );
}