<nav class="features" aria-label="Основные направления Estatein" id="features">
    <ul class="features__list">
        <li class="features__item">
            <a class="feature-card" href="/properties.html">
                <svg class="feature-card__arrow" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.375 27.625L27.625 6.375M27.625 22.3125V6.375L11.6875 6.375" stroke="#4D4D4D"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <span class="feature-card__icon-wrapper" aria-hidden="true">
                    <img class="feature-card__icon" src="/src/assets/icons/home.svg" alt="" width="82" height="82">
                </span>

                <span class="feature-card__title">
                    Find Your Dream Home
                </span>
            </a>
        </li>

        <li class="features__item">
            <a class="feature-card" href="/services.html">
                <svg class="feature-card__arrow" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.375 27.625L27.625 6.375M27.625 22.3125V6.375L11.6875 6.375" stroke="#4D4D4D"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <span class="feature-card__icon-wrapper" aria-hidden="true">
                    <img class="feature-card__icon" src="/src/assets/icons/value.svg" alt="" width="82" height="82">
                </span>

                <span class="feature-card__title">
                    Unlock Property Value
                </span>
            </a>
        </li>

        <li class="features__item">
            <a class="feature-card" href="/services.html">
                <svg class="feature-card__arrow" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.375 27.625L27.625 6.375M27.625 22.3125V6.375L11.6875 6.375" stroke="#4D4D4D"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <span class="feature-card__icon-wrapper" aria-hidden="true">
                    <img class="feature-card__icon" src="/src/assets/icons/property-management.svg" alt="" width="82"
                        height="82">
                </span>

                <span class="feature-card__title">
                    Effortless Property Management
                </span>
            </a>
        </li>

        <li class="features__item">
            <a class="feature-card" href="/services.html">
                <svg class="feature-card__arrow" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.375 27.625L27.625 6.375M27.625 22.3125V6.375L11.6875 6.375" stroke="#4D4D4D"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <span class="feature-card__icon-wrapper" aria-hidden="true">
                    <img class="feature-card__icon" src="/src/assets/icons/investment.svg" alt="" width="82"
                        height="82">
                </span>

                <span class="feature-card__title">
                    Smart Investments, Informed Decisions
                </span>
            </a>
        </li>
    </ul>
</nav>