@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
    overscroll-behavior: none;
  }
}

body {
  @include fluid-text(18, 14);

  min-width: rem(390);
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-gray-60);
  background-color: var(--color-dark);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light);
  font-weight: 600;
}

h1, .h1 {
  @include fluid-text(60, 28);

  line-height: 1.2;
}

h2, .h2 {
  @include fluid-text(48, 28);
}

h3, .h3 {
  @include fluid-text(30, 20);
}

h4, .h4 {
  @include fluid-text(24, 18);
}

h5, .h5 {
  @include fluid-text(20, 16);
}

button,
input,
textarea,
select {
  font: inherit;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent-light);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}